<div class="container-fluid">
    <div class="row">
        <main class="col">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to inbox!</h1>
                <p class="lead">This is a consumer for Linked Data Notification platform. Start by logging in:</p>
                <button type="submit" class="btn btn-primary btn-lg" id="login">Login</button>
                <hr class="my-4">
                <p>Please note that you have to add "https://inbox-client.herokuapp.com" (exactly like this, with no
                    trailing slash) to your trusted applications in your solid.community profile preferences with Read,
                    Write and Append rights.
                    Help (how to set-up solid profile) and sources are available at
                    <a href="https://github.com/WhyINeedToFillUsername/inbox-client">https://github.com/WhyINeedToFillUsername/inbox-client</a>
                </p>
            </div>
        </main>
    </div>
</div>

<script src="/javascripts/bundle-solid-login.js"></script>