<div class="container-fluid">
    <div class="row">
        <main class="col">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to inbox!</h1>
                <p class="lead">This is a consumer for Linked Data Notification platform. Start by logging in:</p>
                <button type="submit" class="btn btn-primary btn-lg" id="login">Login</button>
            </div>
        </main>
    </div>
</div>

<script src="https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js"></script>
<script src="/javascripts/solid-login.js"></script>