<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">inbox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="navbar-text">
                    Logged in as <a href="{{webId}}" id="webId">{{webId}}</a>
                </span>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success" type="button" id="logout">Logout</button>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <h1>{{title}}</h1>
    <pre id="content"></pre>
    <hr>

    <div>
        <h2>Monitored inboxes</h2>
        <ul id="inboxes"></ul>
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="resourceIri" class="sr-only">IRI of resource to monitor</label>
                <input type="text" class="form-control" id="resourceIri" placeholder="IRI of resource to monitor">
            </div>
            <button type="button" class="btn btn-primary mb-2" id="submit" title="Add resource's inbox to monitor">+ Add</button>
        </form>

    </div>
</div>

<script src="/javascripts/bundle-inbox.js"></script>